<!DOCTYPE html>
<html>
  <head>
    <title>Travel App</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Travel App</h1>
    <hr />
    <h2>Enter your tip details</h2>
    <form action="/submit" method="post">
      <label for="country">Country:</label>
      <input
        name="country"
        type="text"
        id="country"
        placeholder="enter Country name"
        required
      />

      <label for="city">City:</label>
      <input
        name="city"
        type="text"
        id="city"
        placeholder="enter City name"
        required
      />

      <label for="departure-date">Departure date:</label>
      <input
        name="departure-date"
        type="date"
        id="departure-date"
        name="departure-date"
        required
      />

      <button id="submitForm" type="submit">Submit</button>
      <input name="test" value="test" onclick="return Client.test()" />
    </form>
    <hr />
  </body>
</html>
