body {
  background-color: rgb(121, 165, 242);
}

.error {
  color: red;
}

header,
footer {
  border: 1px solid red;
}

#trip-form {
  border: 1px solid green;
}

#trip-info {
  border: 1px solid blue;

  img {
    width: 200px;
    height: 200px;
  }
}
